{% extends "forms/popup_form.jinja2" %}
{% block form_id %}The ID of the form goes here{% endblock %}
{% block form_action %}{{url_for("post_data", callback="Put your POST opcode here")}}{% endblock %}
{% block form_title %}The title you want goes here{% endblock %}
{% block form_json_populator %}If the form needs to be populated by JSON, put the JSON opcode here.{% endblock %}

{% block formfields %}
Your actual form fields go here

{% endblock %}
