BODY {
    background-color: #7AA2C6;
    font-size: 12pt;
    font-family: Verdana, Arial, sans-serif;
}

A {
    color: #3A6F3B;
}

/**************/
/* Login Page */
/**************/

#loginbox{
    background: #1A381B;
}

/*******************/
/* Navigation Area */
/*******************/
#navigation{
    background-color: #88250E;
    font-family: Times New Roman, Serif;
    border-bottom: .1em ridge #88250E;
}

#navigation LI UL{
    background-color: #88250E;
}

/*****************/
/* Content frame */
/*****************/

#content H1{
    font-family: Times New Roman, Serif;
    color: #1A3E1A;
}

/****************/
/* Footer frame */
/****************/

#footer {
   background-color: #88250E;
}

#footer H1 {
    font-family: Times New Roman, Serif;
}

/****************/
/* DataSet List */
/****************/

#main_view .record:hover,
#results TABLE .record:hover
{
    background-color: #3A6F3B!important;
}


/*********/
/* FORMS */
/*********/


/***********/
/* Reports */
/***********/


/**********/
/* Search */
/**********/


/**************************************/
/* Browser List on compatibility page */
/**************************************/
