body
{
  font-size: 9pt;
  font-family: sans;
  font-weight: normal;
}

table
{
  border: solid 1px black;
  /* display: block; */
  vertical-align: bottom;
  clear: both;
  border-collapse: collapse;
  }

td
{
/*    display: block; */
    padding: 2px;
    vertical-align: bottom;
    border: 1px solid black;
    font-weight: normal;
    border-collapse: collapse;
}

th
{
/*    display: block; */
    background-color: #EEE;
    vertical-align: bottom;
    font-weight: bold;
    padding: 2px;
    border: 1px solid black;
    border-collapse: collapse;
}

#parameters li
{
display: inline-block;
padding-right: 1em;
}

#parameters ul
{
list-style: disc;
overflow: visible;
margin: 1em;
}

h1
{
font-size: 1.2em;
font-weight: bold;
display: block;
}
h2
{
font-size: 1.1em;
font-weight: bold;
display: block;
}

#parameters
{
    display: block;
    margin-bottom: 1em;
    overflow: visible;
}