BODY {
    background-color: silver;
    font-size: 10pt;
    padding: 0;
    margin: 0;
    font-family: Droid Sans, Verdana, Arial, sans-serif;
}

A {
    color: blue;
}

/*******************/
/* Generic Classes */
/*******************/

.right {
    float: right;!important
}

.left {
    float: left;!important
}

.error{
    color: red;
}

.note{
    color: #333;
    font-style: italic;
}

.never_show{
    display: none!important;
}

.twocolumn {
   -moz-columns: 2 auto;
   -webkit-columns: 2 auto;
   columns: 2 auto;
}

/**************************/
/* The main greeting page */
/**************************/



/**************/
/* Login Page */
/**************/

#loginbox{
    background: #333;
    color: white;
    text-shadow: 0 0 1px #EEE;
    font-weight: bold;
    border: double 4px grey;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
    padding: 1em;
    width: 30em;
    text-align: center;
}

#loginbox UL{
    list-style: none;
}

#loginbox UL LI {
    overflow: auto;
}

#loginbox LABEL {
    width: 8em;
    display: block;
    float: left;
}

#loginbox INPUT[type=text],
#loginbox INPUT[type=password] {
    float: left;
    width: 20em;
}

#loginbox H1 {
    font-size: 1.2em;
    margin: 1em;
    padding: 0;
    color: white!important;
}

/*******************/
/* Navigation Area */
/*******************/
#navigation{
    background-color: #333;
    color: white;
    font-variant: small-caps;
    overflow: visible;
    border-radius: 0 0 5px 5px;
    padding: .5em;
    border-bottom: .1em ridge black;
    text-shadow: 0 0 1px #EEE;
    position: fixed;
    top: 0;
    opacity: .9;
    width: 100%;
    z-index: 200;
}



#navigation UL {
    list-style: none;
    margin: 0px;
    padding: 0px;
    float: left;
}

#navigation LI UL{
    display: none;
    background-color: #333;
    border-radius: 0 0 5px 5px;
    overflow: auto;
    max-height: 20em;
    padding: 1em;
}

#navigation LI:hover UL {
    display: block;
    position: absolute;
}

#navigation LI:hover UL LI {
    float: none;
    margin: .5em;
}

#navigation LI:hover UL LI A {
}

#navigation UL.right{
    float: right;
}

#navigation H1 {
    float: left;
    text-align: center;
    font-size: 1em;
    padding: 0 1em;
    margin: 0;
}

#navigation LI {
    float: left;
    width: 10em;
    text-align: center;
}

#navigation A {
    color: white;
    text-shadow: 0 0 1px #EEE;
    text-decoration: none;
    width: 100%;
    display: block;
    border-radius: .5em;
}

#navigation A:hover {
    text-decoration: underline;
    color: blue;
    background-color: #EFF;
}

/*****************/
/* Content frame */
/*****************/

#content {
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.1em;
    margin-bottom: 1em;
    background-color: white;
    width: 85%;
}

#content H1{
    text-size: 1.2em;
    font-variant: small-caps;
    color: black;
    text-align: center;
    margin-top: 0;
}

#content H2{
    text-size: 1.1em;
}

/****************/
/* Footer frame */
/****************/

#footer {
   position: fixed;
   bottom: 0;
   text-align: center;
   width: 100%;
   background-color: #333;
   opacity: .9
}

#footer H1 {
    font-size: 1em;
    font-style: italic;
    color: white;
    text-align: center;
    letter-spacing: 1em;
    width: 100%;
    margin: 0;
    padding: 0;
    font-variant: small-caps;
}

/****************/
/* DataSet List */
/****************/

#main_view .record,
       #results TABLE .record
TR.record
{
    /*this supposedly enables iDevices to be able to click*/
    cursor: pointer;
}

#main_view .record:hover,
       #results .record:hover,
       TR.record:hover{
    cursor: pointer;
    background-color: navy!important;
    color: white!important;
}

#main_view .record TD,
#results TABLE .record TD
{
    white-space: pre-wrap;
}

/*********/
/* FORMS */
/*********/

FORM.record_form{
    margin-left: auto;
    margin-right: auto;
    clear: both;
    font-size: 0.8em!important;
}

FORM.record_form TABLE {
    width: 100%;
    border: 1px solid #888;
    border-collapse: collapse;
}

FORM.record_form TABLE TD,
FORM.record_form TABLE TH
{
    border: 1px solid #888;
    border-collapse: collapse;
}

FORM.record_form UL {
    list-style: none;
}

FORM.record_form LI {
   overflow: auto;
   display: table;
   break-inside: avoid;
}

FORM.record_form LABEL {
    display: table-cell;
    width: 10em;
    vertical-align: top;
}

FORM.record_form LABEL.inline {
    display: inline!important;
    vertical-align: middle;
}

FORM.record_form INPUT[type=date],
FORM.record_form INPUT[type=number],
FORM.record_form SELECT,
FORM.record_form TEXTAREA,
FORM.record_form INPUT[type=text]{
    width: 16em;
}
FORM.record_form INPUT[type=date].short,
FORM.record_form INPUT[type=number].short,
FORM.record_form SELECT.short,
FORM.record_form INPUT[type=text].short{
    width: 6em;
}

FORM.record_form .ro_input
{
    white-space: pre-wrap;
}

FORM.record_form .ro_input.from_select
{
    white-space: normal;
}

FORM.record_form .detail_delete{
    font-size: .5em;
    vertical-align: bottom;
    padding: 0;
}

#recordview #printable_form
{
    float: right;
}

#deletecontrol
{
    float:right;
    border: 1px solid silver;
}

#deletecontrol.active
{
    border: 1px solid red;
    background-color: pink;
}

#deletecontrol INPUT[type=checkbox],
#deletecontrol LABEL
{
    display: inline;
}

#deletewarning
{
    background-color: pink;
    padding: 1em;
}

#deletewarning P
{
    font-style: italic;
    text-size: .9em;
}


/* Special cases */
#recordview #casedetails UL
{
    margin-left: 3em;
}



/***********/
/* Reports */
/***********/

#reportform {
    overflow: auto;
}

#reportform FORM{
    width: 40%;
    float: left;
}

#reportform UL,
#queryform UL {
    list-style: none;
}

#report_description{
    float: right;
    width: 40%;
    padding: 1em;
}

#report_help{
    font-style: italic;
    float: right;
    width: 40%;
    padding: 1em;
}

#reportform LABEL,
       #queryform LABEL,
       #reportform SPAN.label,
       #queryform SPAN.label
{
    display: block;
    float: left;
    width: 16em;
}

#reportform LI,
#queryform LI {
   overflow: auto;
   padding: .5em;
   list-style: none;
}

#reportform SELECT,
#queryform SELECT
{
   vertical-align: top;
}

#results {
    clear: both;
}

#queryform #output_fields LI{
    float: left;
}

#output_options LABEL,
       #file_options LABEL
{
   width: 100%;
   display: flex;
}

#output_options SPAN.label,
      #reports DIV.file_options SPAN.label
{
   width: 14em;
}

/**********/
/* Search */
/**********/


#searches UL
{
    list-style: None;
}

#searches LI{
   overflow: auto;
   padding-top: .5em;
}

#searches LABEL,
      #searches SPAN.label,
      #searches FIELDSET LEGEND
{
    display: block;
    float: left;
    width: 7em;
}

#searches .formnote {
    text-size: .8em;
    color: #333;
    font-style: italic;
}

#searches INPUT[type=text],
#searches SELECT
{
   width: 27em;
   vertical-align: top;
}

#printable_results{
    float: right;
    clear: both;
}

#searches INPUT.short,
#searches SELECT.short
{
    width: 12em;
}

#searches FIELDSET
{
   border: none;
   padding: 0;
}

/**************************************/
/* Browser List on compatibility page */
/**************************************/

#browser_list {
    list-style: none;
}

#browser_list LI {
    overflow: visible;
    clear: both;
    vertical-align: middle;
}

#browser_list LI IMG {
    float: left;
}
