{##################################################################################################################################}
{# This template creates a drop-down select of the fields in a dataset								  #}
{#                                                                #}
{# It expects a data dictionary called "data" with these keys:									  #}
{#   - "_schema": The dataset schema information laid out ad a dict:								  #}
{#     - "main": The schema of the main table.  This is as a dict per table column, with at least "column_name".		  #}
{#   - "_fields_with_lookups": a dict of fields with lookups associated.  Each key->value pair is a column name in the main table #}
{#      and at least "table" and "display_column".										  #}
{#                                                                #}
{# The value returned from the select will be in the format "table.column_name".                          #}
{##################################################################################################################################}
<SELECT name="fields[0]" data-requireset_id="dataset_fields" required>
  <option value="" selected disabled>Add a field...</option>
  {% for f in data["_schema"]["main"] %}
    {% if f["column_name"] in data["_fields_with_lookups"].keys() %}
      {% set lf = data["_fields_with_lookups"][f["column_name"]] %}
      {% if lf["display_column"] is iterable and lf["display_column"] is not string %}
    <option value="{{lf["table"] + "." + lf["display_column"][0]}}">{{f["column_name"]|colname2label(True)}}</option>
      {% else %}
    <option value="{{lf["table"] + "." + lf["display_column"]}}">{{f["column_name"]|colname2label(True)}}</option>
      {% endif %}
    {% elif f["data_type"] == 'file' %}
      <option value="({{f["column_name"]}}).name">{{f["column_name"]|colname2label(False)}} Name</option>
      <option value="({{f["column_name"]}}).mime_type">{{f["column_name"]|colname2label(False)}} Type</option>
      <option value="({{f["column_name"]}}).size">{{f["column_name"]|colname2label(False)}} Size</option>
    {% else %}
    <option value="{{f["column_name"]}}">{{f["column_name"]|colname2label(False)}} </option>
  {% endif %}
  {% endfor %}
</SELECT>
