{% extends "forms/record_form.jinja2" %}
{% block formfields %}
 <div id="mainrecord">
  <ul class="twocolumn">
   {% for column in data["_schema"]["main"] if column["column_name"] not in data["dataset"]["id_columns"] %}
    <li>{{ autofield(column["column_name"], column["data_type"], data) }}</li>
   {% endfor %}
 </div>
 <div id="details">
  {{ autodetail("_all_", data) }}
 </div>

{% endblock %}
