{########################################################################################################################################################}
{# This template, given a dataset, generates a list of input fields for entering search criteria against that dataset.                      #}
{#                                                                              #}
{# Depending on the type of data in each field, an appropriate set of HTML5 controls, and an appropriate selection of comparison operators, is created: #}
{#                                                                              #}
{#   - For numbers, a number input is used                                                          #}
{#   - For dates, times, and datetimes, date/datetime inputs are used                                               #}
{#   - For fields with lookup tables, a select is created                                                   #}
{#   - For all other fields, a text entry is used.                                                      #}
{#                                                                                                                      #}
{#   The mapping is done using the db2html_type filter, found in the includes/utils.py                                                                  #}
{# When appropriate, two search inputs are generated; for example, when a "between" operator is selected on a number field.                 #}
{########################################################################################################################################################}
{% import 'forms/field_search_fields.jinja2' as base with context %}

{# Loop through the columns in the dataset's main table and create controls.  #}
{# Since normally the id_column is a meaningless number, we filter that out.  #}
{% set schema_item = (data.args.raw_tables and "main" or "main_fsv") %}
<li>
 <SELECT class="search-field-select">
  <option value="" disabled selected>Add a field criteria...</option>
  {% for column in data["_schema"][schema_item] if column["column_name"] not in data["dataset"]["id_columns"] %}
   <option value ="{{column["column_name"]|replace(' ', '_')}}">{{column["column_name"]|colname2label(True)}}</option>
  {% endfor %}
 </SELECT>
</li>

{% for column in data["_schema"][schema_item] if column["column_name"] not in data["dataset"]["id_columns"] %}
 {% set fieldtype = column["data_type"]|db2html_type|replace("area", "") %}
 <script type="template" name="{{column["column_name"]|replace(' ', '_')}}">
 {% if column["column_name"] in data["_fields_with_lookups"].keys() %}
 {# If this is just an ID for a lookup table, we use the simplified select macro, #}
 {#  then generate a select from the data["_lookups"] dict.                       #}
 <label id="{{column["column_name"]}}_inp_label" for="{{column["column_name"]}}">{{column["column_name"]|colname2label(True)}}</label>
 {{ base.select_operator_for_lookup(column["column_name"]) }}
   <span class="parameter_values">
 <select name="search_fields[{{column["column_name"]}}][value]" id="{{column["column_name"]}}" aria-labelledby="{{column["column_name"]}}_inp_label" required >
 <option value=""></option>
 {% for option in data["_lookups"].get(data["_fields_with_lookups"][column["column_name"]]["table"])%}
 <option value="{{option[data["_fields_with_lookups"][column["column_name"]]["id_column"]]}}">
 {% set display_column = data["_fields_with_lookups"][column["column_name"]]["display_column"] %}
 {% if display_column is sequence and display_column is not string %}
 {% for dc in display_column %}{{option[dc]}}{% if option[dc] and not loop.last %}, {% endif %}{% endfor %}
 {% else %}
     {{option[display_column]}}
 {% endif %}
     </option>
 {% endfor %}
 </select>
 </span>
 <input type="hidden" name="search_fields[{{column["column_name"]}}][fieldtype]" value="{{fieldtype}}">
 {% else %}
 {# Not a lookup, so we generate an operator select and input(s) appropriate to the datatype #}
 <label id="{{column["column_name"]}}_inp_label" for="search_fields[{{column["column_name"]}}][value]">{{column["column_name"]|colname2label}}</label>
 {{ base.default_operator(column["column_name"], fieldtype)}}
    <span class="parameter_values">
 {% if fieldtype not in ["checkbox", "boolselect"] %}
 {# These datatypes support the "between" operator, so require a second optional value field. #}
 {% if fieldtype in ['number', 'date', 'time', 'datetime', 'datetime-local'] %}
 <input type="{{fieldtype}}"
 id="search_fields[{{column["column_name"]}}][value]"
 name="search_fields[{{column["column_name"]}}][value]"
 aria-labelledby="{{column["column_name"]}}_inp_label"
 class="short"
 required
 />
 <input type="{{fieldtype}}"
 id="search_fields[{{column["column_name"]}}][value2]"
 name="search_fields[{{column["column_name"]}}][value2]"
 aria-labelledby="{{column["column_name"]}}_inp_label"
 class="short"
 required
 />
 {% else %} {# no between operator #}
 <input type="{{fieldtype}}"
 id="search_fields[{{column["column_name"]}}][value]"
 name="search_fields[{{column["column_name"]}}][value]"
 aria-labelledby="{{column["column_name"]}}_inp_label"
 required
 />
 {% endif %}
 {% endif %}
</span>
 <input type="hidden" name="search_fields[{{column["column_name"]}}][fieldtype]" value="{{fieldtype}}">
 {% endif %}
 <button type="button" class="field-remove">x</button>
 </script>
{% endfor %}
