{########################################################################################################################################################}
{# This template, given a dataset, generates a list of input fields for entering search criteria against that dataset.                      #}
{#                                                                              #}
{# Depending on the type of data in each field, an appropriate set of HTML5 controls, and an appropriate selection of comparison operators, is created: #}
{#                                                                              #}
{#   - For numbers, a number input is used                                                          #}
{#   - For dates, times, and datetimes, date/datetime inputs are used                                               #}
{#   - For fields with lookup tables, a select is created                                                   #}
{#   - For all other fields, a text entry is used.                                                      #}
{#                                                                                                                      #}
{#   The mapping is done using the db2html_type filter, found in the includes/utils.py                                                                  #}
{# When appropriate, two search inputs are generated; for example, when a "between" operator is selected on a number field.                 #}
{########################################################################################################################################################}

{# This macro creates a SELECT dropdown for the opeartor, depending on the datatype of the field. #}
{% macro default_operator(fieldname, datatype='text') %}
 <label for="operator_select_{{fieldname}}" style="display: none">Comparison type for {{fieldname}}</label>
 <SELECT id="operator_select_{{fieldname}}" name='search_fields[{{fieldname}}][operator]' data-requireset_id="operators" required class="short operatorselect" title="Select the comparison function for this field.">
  <option value="">Ignored</option>
  {% if datatype in ['text', 'textarea'] %}
   <option value="iequals">Equals</option>
   <option value="not_iequals">Does not equal</option>
   <option value="contains">Contains</option>
   <option value="not_contains">Does not contain</option>
   <option value="is_blank">is Empty</option>
   <option value="is_not_blank">is not Empty</option>
   {% if config['ENABLE_REGEX_CONDITIONS'] %}
    <optgroup label='Advanced'>
     <option value="regex_match">Matches RegEx</option>
     <option value="regex_not_match">Does Not Match RegEx</option>
    </optgroup>
   {% endif %}
  {% elif datatype in ["number", "date", "datetime", "time", "datetime-local"] %}
   <option value="equals">Equals</option>
   <option value="not_equals">Does not equal</option>
   <option value="greaterthan">is greater than</option>
   <option value="lessthan"> is less than</option>
   <option value="between"> is between </option>
   <option value="not_between"> is not between </option>
   <option value="is_null"> is Empty</option>
   <option value="is_not_null"> is not Empty</option>
  {% elif datatype in ["boolselect", "checkbox"] %}
   <option value='is_true'> is True </option>
   <option value='is_false'> is False </option>
   <option value="is_null"> is Empty</option>
   <option value="is_not_null"> is not Empty</option>
  {% elif datatype == 'file' %}
    <option value="name_iequals">Name Equals</option>
    <option value="name_not_iequals">Name Does not equal</option>
    <option value="name_contains">Name Contains</option>
    <option value="name_not_contains">Name Does not contain</option>
    <option value="type_iequals">Type Equals</option>
    <option value="type_not_iequals">Type Does not equal</option>
    <option value="type_contains">Type Contains</option>
    <option value="type_not_contains">Type Does not contain</option>
    <option value="size_equals">Size Equals</option>
    <option value="size_not_equals">Size Does not equal</option>
    <option value="size_greaterthan">Size is greater than</option>
    <option value="size_lessthan">Size  is less than</option>
    <option value="size_between">Size  is between </option>
    <option value="size_not_between">Size  is not between </option>
    <option value="is_null"> is Empty</option>
    <option value="is_not_null"> is not Empty</option>
  {% else %}
    <option value="" disabled>Field type {{datatype}} not handled</option>
  {% endif %}

 </SELECT>
{% endmacro %}

{# This version of the macro is only for fields with lookup values #}
{% macro select_operator_for_lookup(fieldname) %}
 <label for="operator_select_{{fieldname}}" style="display: none">Comparison type for {{fieldname}}</label>
 <SELECT id="operator_select_{{fieldname}}" name='search_fields[{{fieldname}}][operator]' data-requireset_id="operators" required class="short operatorselect">
  <option value="">Ignored</option>
  <option value="equals">Equals</option>
  <option value="not_equals">Does not equal</option>
  <option value="equals_any">Equals any of</option>
  <option value="not_equals_any">Does not equal any of</option>
  <option value="is_null">is Empty</option>
  <option value="is_not_null"> is not Empty</option>
 </SELECT>
{% endmacro %}

{# Loop through the columns in the dataset's main table and create controls.  #}
{# Since normally the id_column is a meaningless number, we filter that out.  #}
{% set schema_item = (data.args.raw_tables and "main" or "main_fsv") %}
{% for column in data["_schema"][schema_item] if column["column_name"] not in data["dataset"]["id_columns"] %}
 {% set fieldtype = column["data_type"]|db2html_type|replace("area", "") %}
 {% if column["column_name"] in data["_fields_with_lookups"].keys() %}
  {# If this is just an ID for a lookup table, we use the simplified select macro, #}
  {#  then generate a select from the data["_lookups"] dict.                       #}
  <li>
   <label id="{{column["column_name"]}}_inp_label" for="{{column["column_name"]}}">{{column["column_name"]|colname2label(True)}}</label>
   {{ select_operator_for_lookup(column["column_name"]) }}
   <span class='parameter_values'>
   <select name="search_fields[{{column["column_name"]}}][value]" id="{{column["column_name"]}}" aria-labelledby="{{column["column_name"]}}_inp_label" required >
    <option value=""></option>
    {% for option in data["_lookups"].get(data["_fields_with_lookups"][column["column_name"]]["table"])%}
     <option value="{{option[data["_fields_with_lookups"][column["column_name"]]["id_column"]]}}">
      {% set display_column = data["_fields_with_lookups"][column["column_name"]]["display_column"] %}
      {% if display_column is sequence and display_column is not string %}
       {% for dc in display_column %}{{option[dc]}}{% if option[dc] and not loop.last %}, {% endif %}{% endfor %}
      {% else %}
       {{option[display_column]}}
      {% endif %}
     </option>
    {% endfor %}
   </select>
   </span>
   <input type="hidden" name="search_fields[{{column["column_name"]}}][fieldtype]" value="{{fieldtype}}">
  </li>
 {% else %}
  {# Not a lookup, so we generate an operator select and input(s) appropriate to the datatype #}
  <li><label id="{{column["column_name"]}}_inp_label" for="search_fields[{{column["column_name"]}}][value]">{{column["column_name"]|colname2label}}</label>
   {{ default_operator(column["column_name"], fieldtype)}}
   <span class="parameter_values">
   {% if fieldtype not in ["checkbox", "boolselect"] %}
    {# These datatypes support the "between" operator, so require a second optional value field. #}
    {% if fieldtype in ['number', 'date', 'time', 'datetime', 'datetime-local'] %}
     <input type="{{fieldtype}}"
            id="search_fields[{{column["column_name"]}}][value]"
            name="search_fields[{{column["column_name"]}}][value]"
            aria-labelledby="{{column["column_name"]}}_inp_label"
            class="short"
            required
     />
     <input type="{{fieldtype}}"
            id="search_fields[{{column["column_name"]}}][value2]"
            name="search_fields[{{column["column_name"]}}][value2]"
            aria-labelledby="{{column["column_name"]}}_inp_label"
            class="short"
            required
     />
    {% elif fieldtype == 'file' %}
     <input type="text"
            id="search_fields[{{column["column_name"]}}][value]"
            name="search_fields[{{column["column_name"]}}][value]"
            aria-labelledby="{{column["column_name"]}}_inp_label"
            class="short"
            required
     />
     <input type="number"
            id="search_fields[{{column["column_name"]}}][value2]"
            name="search_fields[{{column["column_name"]}}][value2]"
            aria-labelledby="{{column["column_name"]}}_inp_label"
            class="short"
            required
     />

    {% else %} {# no between operator #}
     <input type="{{fieldtype}}"
            id="search_fields[{{column["column_name"]}}][value]"
            name="search_fields[{{column["column_name"]}}][value]"
            aria-labelledby="{{column["column_name"]}}_inp_label"
            required
     />
    {% endif %}
   {% endif %}
   </span>
   <input type="hidden" name="search_fields[{{column["column_name"]}}][fieldtype]" value="{{fieldtype}}">
  </li>
 {% endif %}
{% endfor %}
