<form id="{% block form_id %}{% endblock %}" class='record_form' width="90%" action='{% block form_action %}{% endblock %}' method='POST' title="{% block form_title %}{% endblock %}" data-json_populator="{% block form_json_populator %}{% endblock %}">
<input type='hidden' name='csrf_token' value="{{csrf_token}}">
{% block formfields %}
{% endblock %}
<br style='clear: both' />
<span class='edit_only'>
  <input type='submit' value='Submit' name='submit' />
</span>
</form>
