{% extends "base.jinja2" %}
{% block extra_headers %}

 <script type="text/javascript">
 //var printable_content;
 window.init = function() {
     if (!window.printable_content){ //Required for IE
         window.printable_content = window.opener.document.printable_content;
     }
     //IE and Edge don't think printable_content is an HTMLElement
     // Nor can we call importNode on it, because it throws an error,
     // so we need to write the value properties to value attribues
     // and just get the outerHTML
     // this unfortunately slows everybody.  Thanks Microsoft.
     var $pc = $(window.printable_content);
     $pc.find(':input').each(function(i, el){
         if (el.tagName == 'SELECT'){
             var value = el.value;
             el.querySelector('option[value="' + value + '"]').setAttribute('selected', 'selected');
         }else{
             el.setAttribute('value', el.value);
         }
     });
     window.printable_content = $pc.get(0);
     $content = $("#content");
     $content.html(window.printable_content.outerHTML);
     //it's faster in IE if we do this after we write to the real DOM
     util.form_to_readonly($content);
     $content.addClass('printview');
     $('BODY').addClass('printview');
     $("#navigation").hide();
     if ($pc.find('form').data('orientation') == 'landscape'){
         $('BODY').addClass('landscape');
     }
 };

 $(document).ready(function(){
     window.setTimeout(window.init, 1000);
 });
 </script>
 <style>
 @media print{
     BODY {
         background-color: white;
         color: black;
         width: 7in;
         margin: .75in;
         padding: 0;
     }
     BODY * {
         max-width: 7in;
     }
     BODY.landscape {
         width: 10in;
         margin: .5in;
     }
     BODY.landscape * {
         max-width: 10in;
     }
     #recordview {
         border: none;
         margin: 0;
     }
     #content {
         padding: 0;
         margin: 0;
     }
     .noPrint {
         display: none;
     }
     #recordview LABEL:not(.edit_only) {
         font-weight: bold;
         display: inline-block!important;
         width: 40%!important;
     }
     #recordview SPAN.ro_input {
         display: inline-block;
         width: 55%;
     }
     #recordview FORM.record_form LI {
         display: block;
     }
 }
 @media screen{
     BODY {
         background: None;
         background-color: white;
         color: black;
         width: 7in;
         margin: .75in;
     }
     BODY * {
         max-width: 7in;
     }
     BODY.landscape {
         width: 10in;
         margin: .5in;
     }
     BODY.landscape * {
         max-width: 10in;
     }
     #content {
         padding: 0;
         margin: 0;
     }
     #recordview {
         border: none;
         margin-left: auto;
         margin-right: auto;
     }
     .noPrint {
         display: none;
     }
     #recordview LABEL:not(.edit_only) {
         font-weight: bold;
         display: inline-block!important;
         width: 40%!important;
     }
     #recordview SPAN.ro_input {
         display: inline-block;
         width: 55%;
     }
     #recordview FORM.record_form LI {
         display: block;
     }
 }

 @page {
     width: 7in;
     padding: 0;
     margin: 0;
     height: 9.5in;
 }
 </style>

{% endblock %}
