{% macro boolselect(name, attributes, use_blank=True, default='', labels='True|False') %}
<SELECT name="{{name}}" id="{{name}}" class="short {{attributes.get("class")}}"
{% for attribute, value in attributes|dictsort %}
  {% if attribute != "class" %}
    {{attribute}}="{{value}}"
  {% endif %}
{% endfor %}
>
 {% if use_blank %}<option value="" {% if default == '' %}selected{% endif %}></option>{% endif %}
 {% set t_label, f_label = labels.split('|') %}
<option value=false {% if default == false %}selected{% endif %}>{{f_label}}</option>
<option value=true {% if default == true %}selected{% endif %}>{{t_label}}</option>
</SELECT>
{% endmacro %}

{% macro fileinput(name, attributes) %}
 <span name="{{name}}" id="{{name}}" class="file_info"></span><br />
  <input name="{{name}}" type="file" class="edit_only {{attributes.get("class")}}"
         {% for attribute, value in attributes|dictsort %}
         {% if attribute != "class" %}
         {{attribute}}="{{value}}"
         {% endif %}
         {% endfor %}
  />
  <label class="edit_only existing_only" name="{{name}}_delete_label" style="display: none">
   <input name="{{name}}" type="checkbox" class="edit_only existing_only file_delete"  value="_DELETE" />Delete?
  </label>
{% endmacro %}

{% macro lookupselect(column_name, data, input_name=None, attributes={}, enable_field="enabled", hide_disabled=False, use_blank=True) %}
{% set input_name = input_name or column_name %}
 <select name="{{input_name}}" id="{{input_name}}"
{% for attribute, value in attributes|dictsort %}
    {{attribute}}="{{value}}"
{% endfor %}
>
{% if use_blank %}  <option value=""></option>{% endif %}{# As ugly as this block is, it needs to stay dense so that options don't have a bunch of extra newlines in them #}
    {% for option in data["_lookups"].get(data["_fields_with_lookups"][column_name]["table"])%}{% set disabled = (enable_field and not option.get(enable_field, True) and "disabled") or "" %}{% if not (hide_disabled and disabled == "disabled") %}
      <option value="{{option[data["_fields_with_lookups"][column_name]["id_column"]]}}" {{disabled}}>{% set display_column = data["_fields_with_lookups"][column_name]["display_column"] %}{% if display_column is sequence and display_column is not string %}{% for dc in display_column %}{{option[dc]}}{% if option[dc] and not loop.last %} {% endif %}{% endfor %}{% else %}{{option[display_column]}}{% endif %}</option>{% endif %}{% endfor %}
    </select>
{% endmacro %}

{% macro autofield(name, data_type, data, label='', do_label=True, inp_attr={}) %}
 {% set detail_member = name.startswith(('_details')) %}
 {% set colname = detail_member and name.split('[')[-1].strip(']') or name %}
 {% set tablename = detail_member and name.split('[')[1].strip(']') or data['dataset']['main_table'] %}
 {% set class = inp_attr.pop('class', '') + (detail_member and ' trigger_new' or '') %}
 {# eek, hack, sorry #}
 {{ inp_attr.__setitem__('class', class) or '' }}
 {% if do_label %}
  {% set snip_id = data_type|db2html_type == 'file' or name in data["_fields_with_lookups"] %}
  <label for="{{name}}">{{label or name|colname2label(snip_id)}}</label>
 {% endif %}
  {% if data_type|db2html_type == "textarea" %}
   <textarea id="{{name}}" name="{{name}}" {% for attr, val in inp_attr.items() %}{{ attr }}="{{ val }}"{% endfor %}></textarea>
  {% elif data_type|db2html_type == 'file' %}
    {{ fileinput(name, inp_attr) }}
  {% elif colname in data["_fields_with_lookups"].keys() and data['_fields_with_lookups'][colname]['for_table'] == tablename  %}
   {{ lookupselect(colname, data, attributes=inp_attr, input_name=name) }}
  {% else %}
   {% if data_type|db2html_type=="boolselect" %}
    {{boolselect(name, inp_attr)}}
   {% else %}
    <input
        type="{{data_type|db2html_type}}"
        id="{{name}}"
        name="{{name}}"
        {% if data_type[:3]|lower == "int" %}
        step=1
        {% elif data_type|db2html_type=="number" %}
        step="any"
        {% endif %}
        {% if data_type|db2html_type=="checkbox" %}
        value=1
        {% endif %}
        {% for attr, val in inp_attr.items() %}{{ attr }}="{{ val }}"{% endfor %}
    />
   {% endif %}
  {% endif %}
{% endmacro %}

{% macro detail_bookkeeping_fields(table_name) %}
    <input type='hidden' name='_details[{{ table_name }}][-1][new_record]' value=1 />
    <input type='hidden' name='_details[{{ table_name }}][-1][_dirty]' value='' />
    <input type='hidden' name='_details[{{ table_name }}][-1][id]' value='' />
    <input type='hidden' name='_details[{{ table_name }}][-1][_delete]' class='edit_only' value='' />
{% endmacro %}

{% macro autodetail(table_name, data) %}
 {% for detail_table in data["dataset"]["details"] if detail_table["table_name"] == table_name or table_name == "_all_" %}
  <h2>{{detail_table["label"]}}</h2>
  <table>
   <thead>
    <tr>
     {% for column in data["_schema"]["details"][detail_table["table_name"]]
     if not column["is_pkey"]
     and column["column_name"] not in detail_table["fk_columns"].values() %}

      <th id="{{detail_table['table_name']}}-{{column["column_name"]}}">
       {% if column["column_name"] in data["_fields_with_lookups"] %}
        {{column["column_name"] | replace("_id", "")|colname2label}}
       {% else %}
        {{column["column_name"]|colname2label}}
       {% endif %}
      </th>
     {% endfor %}
     {% if write_access %}<td class='edit_only'>&nbsp</td>{% endif %}
    </tr>
   </thead>
   <tbody class='detail_entry' id='{{detail_table["table_name"]}}'>
    <tr class='edit_only template' data-id="">
     {% for column in data["_schema"]["details"][detail_table["table_name"]]
     if not column["is_pkey"]
     and column["column_name"] not in detail_table["fk_columns"].values() %}
      {% set colname = "_details[{}][-1][{}]".format(detail_table['table_name'], column['column_name']) %}
      <td>
       {{ autofield(colname, column["data_type"], data, do_label=False) }}
      </td>
     {% endfor %}
     {% if write_access %}
      <td class='edit_only'>
       {{ detail_bookkeeping_fields(detail_table['table_name']) }}
      </td>
     {% endif %}
    </tr>
   </tbody>
  </table>
 {% endfor %}
{% endmacro %}

{% block form %}
<button id='printable_form' class='existing_only'>Printable version</button>
{% set ds_label = data["dataset"]["label"] %}
<form id="{{data["dataset_name"]}}"
      class='record_form'
      width="90%"
      title="{{ds_label}} record: "}
      data-orientation="{% block print_orientation %}portrait{% endblock %}"
      {% if not write_access %} readonly {% else %}
      action='{{url_for("post_data", callback="save_record", key=data["dataset_name"])}}'
      method='POST'{% if data['has_file_fields']%}
      enctype='multipart/form-data'{% endif  %}{% endif %}
>
 {# hidden submit button to make "enter" submit the form, even if there are other buttons in the form #}
 <span class="edit_only"> <input type="submit" value="submit" class="never_show" /></span>
{% for column in data["dataset"]["id_columns"] %}
<input type='hidden' name="{{column}}" />
{% endfor %}
<input type='hidden' name='csrf_token' value="{{csrf_token}}">
{% block formfields %}
{% endblock %}

{% if write_access %}
<br style='clear: both' />
{% block delete_controls %}
<div id='deletecontrol' class='existing_only edit_only'><label for='delete_checkbox'>Delete Record</label><input name='_delete' type='checkbox' id='delete_checkbox' value=1 /></div>
<div id='deletewarning' class='existing_only edit_only' style='display:none'>
 <strong>Warning:</strong><p>This record, and all sub-records, will be irrevocably deleted when you click 'Submit'.</p>  <p>If this is not what you want, uncheck &quot;Delete Record&quot;.</p>
</div>
{% endblock %}

<span class='edit_only'>
 {# Workaround to avoid corrupted XHR2 request body in IE10 / IE11.
      See https://blog.yorkxin.org/2014/02/06/ajax-with-formdata-is-broken-on-ie10-ie11.html #}
 <input type="hidden" name="_internet_explorer_is_garbage">
 <input type='submit' value='Submit' name='submit' />
</span>
{% endif %}
</form>
{% endblock %}
