{% block precontent %}
{% endblock %}

{% for group in results|groupby(headers[0]) %}
  <h2>{{headers[0]}}: {{group.grouper}}</h2>
  <table repeat='1'>
   <thead>
    <tr>
      {% for header in headers[1:] %}
    <th>{{ header }}</th>
      {% endfor %}
    </tr>
    </thead>
    <tbody>
      {% for row in group.list: %}
    <tr class='{{row.get("DT_RowClass")}}' id='{{row.get("DT_RowId")}}'>
      {% for header in headers[1:] %}
        <td>{{ row[header] if row[header] != None else '' }}</td>
      {% endfor %}
    </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}

{% block postcontent %}
{% endblock %}
