{% extends "reports/categorized.jinja2" %}

{% block precontent %}
  <head>
    <style>
       @page {
          size: {{paper_size}} {{orientation}};
          margin: .75in;
          @bottom-center{
              content: "{{report_label}}, run {{date}}, page " counter(page) " of " counter(pages);
          }
      }
    </style>
  </head>
  <body>
    <h1>Report:  {{report_label}}</h1>
    {% if parameters: %}
      <div id='parameters'>
      <h2>Parameters:</h2>
      <ul>
    {% for key, value in parameters.items(): %}
      <li><strong>{{key}}: </strong>{{value}}</li>
    {% endfor %}
      </ul>
</div>
    {% endif %}
  {% endblock %}


{% block postcontent %}
{% endblock %}
