{% block precontent %}
{% endblock %}
<table repeat='1'>
 <thead>
  <tr>
{% for header in headers: %}
<th>{{ header }}</th>
{% endfor %}
  </tr>
</thead>
<tbody>
{% for row in results: %}
<tr class='{{row.get("DT_RowClass")}}' id='{{row.get("DT_RowId")}}'>
{% for header in headers: %}
<td>{{ row[header] if row[header] != None else '' }}</td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
{% block postcontent %}
{% endblock %}
