<div id='field_search_container'>
  <h2>Field search</h2>
  <form id='fieldsearchform' method='POST' action='{{url_for('do_search', search_type='field')}}'>
    <input type='hidden' name='csrf_token' value="{{csrf_token}}" />
    <ul>
      <li><label for="fs_dataset_sel">{{datasets_label}}: <br />
    </label><SELECT id="fs_dataset_sel" name='dataset' required>
      <option value='' selected disabled>Select a {{datasets_label|lower}}</option>
      {% for name, ds in datasets_metadata|dictsort %}
        <option value='{{name}}'>{{ds.get("label")}}</option>
      {% endfor %}
    </SELECT>
      </li>
      <li>
    <ul id="field_search_fields" class="{{ config['FIELD_SELECTORS'] }}">
    </ul>
      </li>
      <li>
    <input type='submit' value='Field Search' />
      </li>
    </ul>
  </form>
</div>
