<div id='keyword_search_container'>
  <h2>Keyword search</h2>
  <form id='searchform' method='POST' action='{{url_for('do_search', search_type='keyword')}}'>
    <input type='hidden' name='csrf_token' value="{{csrf_token}}" />
    <ul>
      <li><label for="search_terms_inp">Search terms: </label>
    <input type='text' id='search_terms_inp' name='search_terms' required />
      </li>
      <li><fieldset><legend>Match type:</legend>
    <label for='type_all'>All terms</label><input type='radio' name='type' value='and' id='type_all' checked />
    <label for='type_any'>Any term</label><input type='radio' name='type' value='or' id='type_any' />
      </fieldset>
      </li>
{% if schema_search: %}
      <li><span class="label">Database:</span>
    {% for id, label in schemas|dictsort %}
    <label for='{{id}}_db'>{{label}}</label><input type='radio' name='schema' id='{{id}}_db' value='{{id}}' required/>
      {% endfor %}
      </li>
{% endif %}
      <li><label for="kw_dataset_sel">{{datasets_label}}({{datasets_label|pluralize(True)}}): <br />
      <p class='formnote' id="kw_dataset_select_help">Ctrl-click to select multiple</p>
    </label><SELECT multiple name='dataset' id="kw_dataset_sel" aria-describedby="kw_dataset_select_help" required>
      <option value='_any_' selected>(Any)</option>
      {% for name, ds in datasets_metadata|dictsort %}
        <option value='{{name}}'>{{ds.get("label")}}</option>
      {% endfor %}
    </SELECT>
      </li>
      <li>
    <input type='submit' value='Keyword Search' />
      </li>
    </ul>
  </form>
</div>
