<div id='name_search_container'>
  <h2>Name search</h2>
  <form id='namesearchform' method='POST' action='{{url_for('do_search', search_type='name')}}'>
    <input type='hidden' name='csrf_token' value="{{csrf_token}}" />
    <ul>
      <li><label for="last_name-input">Last Name: </label><input id="last_name-input" type='text' name='last_name' required data-requireset_id="name" oninvalid="setCustomValidity('Either a first or last name is required');"></li>
      <li><label for="first_name-input">First Name: </label><input id="first_name-input" type='text' name='first_name' required data-requireset_id="name" oninvalid="setCustomValidity('Either a first or last name is required');"></li>
      <li><label for="dataset-select">{{datasets_label}}({{datasets_label|pluralize(True)}}): <br />
      <p class='formnote'>Ctrl-click to select multiple</p>
    </label><SELECT id="dataset-select" multiple name='dataset'>
      <option value='_any_' selected>Any</option>
      {% for name, ds in datasets_metadata.items() if ds.get('name_search_view')%}
        <option value='{{name}}'>{{ds.get("label")}}</option>
      {% endfor %}
    </SELECT>
      </li>
      <li>
    <input type='submit' value='Name Search' />
      </li>
    </ul>
  </form>
</div>
