{% set js_libs = [
    "jquery.js",
    "jquery-ui.min.js",
    "jquery.dataTables.js",
    "dataTables.jqueryui.js",
    "moment.js",
    "jquery-ui-timepicker-addon.js",
    "jquery.inputmask.js",
    "jquery.fix.clone.js",
    "printThis.js",
    "compat_check.js",
    "wcg-tiny-pubsub.js",
    "mustache.js",
    "select2.js",
    "util.js",
    "wcgff-form.js",
    "wcgff-recordview.js",
    "wcgff-recordlist.js",
    "wcgff-recordsearch.js",
    "wcgff-reports.js",
    "wcgff.js"
] %}<!DOCTYPE html>
<html lang="en">
 <head>
  {% block head %}
   <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <script>
   page = '{{ page }}';
   username= '{{ username }}';
   user_fullname="{{user_fullname}}";
   document.basepath = "{{ url_for("index", _external=True) }}";
   field_search_form = "field_search_fields{% if config.FIELD_SELECTORS == 'dynamic' %}_dynamic{% endif %}";
   upload_base = "{{url_for('upload', filename='', _external=True)}}";
   </script>
   {% for library in js_libs + config.get('LOCAL_JS_FILES', []) %}
    <script type='text/javascript' src='{{url_for('static', filename='js/'+library)}}?v={{config.WCG_JS_VERSION}}'></script>
   {% endfor %}
   <link rel="stylesheet" href="{{ url_for('static', filename='css/' + jquery_ui_css_path +'/jquery-ui.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='css/' + base_stylesheet) }}" />
   {% for sheet in local_stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/' + sheet) }}" />
   {% endfor %}
   {#<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.css') }}" />#}
   <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.jqueryui.css') }}" />
   {% block extra_headers %}
   {% endblock %}
   <title>{% block title %}{{application_name}}{% endblock %}</title>
   <style>
   {% block extra_styles %}
   {% endblock %}
   </style>
  {% endblock %}
  {% include "instance/headers.jinja2" ignore missing %}
 </head>
 <body onload="compat_check('{{url_for('system_requirements')}}');">
  {% include "instance/pre_nav.jinja2" ignore missing %}
  <div id=navigation>
   {% block navigation %}{% endblock %}
  </div>
  {% include "instance/pre_content.jinja2" ignore missing %}
  <div id=content>
   {% block  content %}{% endblock %}
  </div>
  {% include "instance/post_content.jinja2" ignore missing %}
  <div id=footer>
   {% block footer %}{% endblock %}
  </div>
 </body>
</html>
