{% extends "main.jinja2" %}
{% block content %}

  <h1 id='dataset_label'>{{data["dataset"]["label"]}}</h1>
  {% if data["dataset"]["header_template"] %}{% include data["dataset"]["header_template"] %}{% endif %}
{% if write_access %}<button id='new_record'>New Record</button> {% endif %}
<table id="main_view" data-dataset="{{data["dataset_name"]}}" data-order="{{ data['order_by'] | e }}">
<thead>
<tr>
{% for header in data["headers"] %}
  <th>{{header}}</th>
{% endfor %}
</tr>
</thead>
<tbody>
</tbody>
</table>
<div id='recordview' style='display:none'></div>

{% endblock %}
