{% extends "base.jinja2" %}
{% block content %}
<div id=loginbox>
<h1>{{application_name}}</h1>
{% if message: %}
<p class=error> {{ message }} </p>
{% endif %}
<form name='login' action="{{ url_for('login', attempted_url=attempted_url)}}" method='POST'>
<ul>
<li><label for="username-input">Username</label><input id="username-input" type=text name=username value="{{ username }}" /></li>
<li><label for="password-input">Password</label><input id="password-input" type=password name=password /></li>
</ul>
<button name=submit value=submit>Log in </button>

</form>
</div>
{% endblock %}
