<ul>
{% for i, nav in navigation|dictsort %}
  {% set url= nav[1] %}
  {% set name = nav[0] %}
  {% set submenu = nav[2] %}
  {% if url != None %}
    <li><a href="{{ url }}">{{ name }}</a>
  {% else %}
    <li>{{ name }}
  {% endif %}
  {% if submenu %}
    <ul>
      {% for subname, suburl in submenu %}
    <li><a href="{{ suburl }}"> {{ subname }} </a></li>
      {% endfor %}
    </ul>
  {% endif %}
  </li>
{% endfor %}
</ul>
<ul class=right>
<li><a href="{{url_for("settings")}}">{{session.user_fullname}}</a></li>
{% if auth_level > 0 and username != '__guest' %}
<li><a href="{{url_for("logout")}}">Log Out</a></li>
{% elif auth_level > 0 and username == '__guest' %}
<li><a href="{{url_for("login")}}">Log In</a></li>
{% endif %}
</ul>
