{% extends "main.jinja2" %}

{% block content %}
 <div id="reportapp">
  <h1>Reports</h1>
  <div id="reports">
   <ul>
    {% if "prepared" in report_types %}
     <li><a href="#reportform">Prepared Reports</a></li>
    {% endif %}
    {% if "custom_dataset" in report_types %}
     <li><a href="#queryform">Custom Query</a></li>
    {% endif %}
   </ul>
   {% if "prepared" in report_types %}
     <script>
      document.prepared_reports = {{ reports|tojson }};
     </script>
    <div id=reportform>
     <form name=reports action='{{ url_for("run_report")}}' method='POST'>
      <input type=hidden name='csrf_token' value="{{csrf_token}}" />
      <label style="display: none;" for="prepared_report_select">Report</label>
      <select name=report_query id="prepared_report_select" required>
       <option disabled='disabled' value='' selected>Please Select...</option>
       {% for r in reports.values(): %}
	<option value='{{ r["id"] }}' title="{{ r["description"] }}" >{{ r["label"] }} </option>
       {% endfor %}
      </select>
      <div id=parameters>
       <fieldset><legend>Parameters</legend>
	<ul id=parameters_inner>
	</ul>
       </fieldset>
      </div>
      {% include "report_output.jinja2" %}
      <button name=submit>Run Report</button>
     </form>
     <div id=report_description></div>
     <div id=report_help></div>
    </div>
   {% endif %}
   {% if "custom_dataset" in report_types %}
    <div id=queryform>
     <form name=query action='{{url_for("run_report")}}' method='POST'>
      <input type=hidden name='csrf_token' value="{{csrf_token}}" />
      <input type=hidden name='custom_query' value=1 />
      <label for="dataset_sel" style="display: none;">Dataset</label>
      <select name=dataset id="dataset_sel" required>
       <option disabled='disabled' value='' selected>Please Select...</option>
       {% for d, m in datasets_metadata|dictsort("label") %}
	<option value='{{d}}'>{{m["label"]}}</option>
       {% endfor %}
      </select>
      <div id="output_fields">
       <fieldset><legend>Output Fields</legend>
	<ol id="output_fields_inner">
	</ol>
       </fieldset>
      </div>
      <div id="conditions">
       <fieldset><legend>Conditions</legend>
	<div id="conditions_inner">
	</div>
       </fieldset>
      </div>
      <div id="order_by">
       <fieldset><legend>Order by</legend>
	<ol id="order_by_inner">
	</ol>
       </fieldset>
      </div>
      {% include "report_output.jinja2" %}
      <button name=submit>Run Report</button>
     </form>
    </div>
  </div>
   {% endif %}
   <div id=results></div>
 </div>
 <div id='recordview' style='display:none'></div>
{% endblock %}
