<div class=output>
 <fieldset><legend>Output options</legend>
  <ul id=output_options>
   <li><label><span class="label">View only</span><input type=radio class="nojqui" name=output_type id=output_html value=html checked /></label></li>
   <li><label><span class="label">Excel (XLSX)</span><input type=radio class="nojqui" name=output_type id=output_xlsx value=xlsx /></label>
   <li><label><span class="label">CSV</span><input type=radio class="nojqui" name=output_type id=output_csv value=csv /></label></li>
   <li><label><span class="label">PDF (for printing)</span><input type=radio class="nojqui" name=output_type id=output_pdf value=pdf /></label>
    <div class=pdf_options>
     <ul>
      <li><label><span class="label">Paper Type</span>
       <select name=paper_format>
        <option value="letter" selected>Letter (8.5×11)</option>
        <option value="legal">Legal (8.5×14)</option>
        <option value="ledger">Ledger (11×17)</option>
       </select>
      </label>
      </li>
      <li><label><span class="label">Orientation</span><select name=landscape><option value=1 selected>Landscape</option><option value=0>Portrait</option></select></label></li>
     </ul>
    </div>
   </li></ul>
  {% if user_email %}
   <div class=file_options>
    <ul>
     <li><label> <span class="label">Download</span><input type=radio class="nojqui" name=transmission_type id=transmission_type_download checked value=download /></label></li>
     <li><label><span class="label">Email</span><input type=radio class="nojqui" name=transmission_type id=transmission_type_email value=email /></label>
      <ul class=email_options style="clear: both">
       <li><label><span class="label">To:</span><input type=email name=email_to id=email_to /></label></li>
       <li><label><span class="label">Note:</span><textarea name=email_note id=email_note rows=4 cols=36></textarea></label></li>
      </ul>
     </li>
    </ul>
   </div>
  {% endif %}

 </fieldset>
</div>
