{% for dataset, data in results.items() %}
 {% if data.get("results") and data.get("results")|length > 0 %}
<H2>{{datasets_metadata.get(dataset).get("label")}}</H2>
<table data-dataset="{{dataset}}">
<thead><tr>
  {% for header in data.get("headers") %}
    <th>{{header}}</th>
  {% endfor %}
</tr></thead>
<tbody>
  {% for row in data.get("results") %}
    <tr id="{{row.get("DT_RowId")}}" class="record">
     {% for column in data.get("headers") %}
      {% set value = row.get(column) %}
      <td>
       {% if value|attr('get') and value.get('_type') == 'file' %}
        {{value.name}}, {{value.size}} byte {{value.mime_type}}
       {% elif value == None %}
        {# nothing #}
       {% else %}
        {{value}}
       {% endif %}
      </td>
      {% endfor %}
      </tr>
    {% endfor %}
</tbody>
</table>
{% else %}
  <p>No results for dataset &quot;{{datasets_metadata.get(dataset).get("label")}}&quot;.</p>
{% endif %}
{% endfor %}
