{% extends "main.jinja2" %}
{% block content %}
 <div id="recordsearch">
 <h1>Search records</h1>
  <div id='searches'>
    <ul>
      {% for searchtype in searches: %}
      <li><a href="#{{searchtype}}_search_container">{{searchtype|title}} Search</a></li>
      {% endfor %}
    </ul>
    {% for searchtype in searches %}
      {% include "searches/" + searchtype + "_search.jinja2" %}
    {% endfor %}
  </div>
  <button id='printable_results'>Printable version</button>

  <div id='results'>
  </div>
 </div>
  <div id='recordview' style='display:none'></div>
{% endblock %}
