{% extends "main.jinja2" %}
{% block content %}

<ul>
<li> You are logged in as {{ user_fullname }} </li>
<li> You have
{% if write_access %}
<strong>READ/WRITE</strong>
{% else %}
<strong>READ ONLY</strong>
{% endif %}
 access</li>
<li>
{% if user_email %}
Your email address is <strong>{{user_email}}</strong>.  Email features will use this email.
{% else %}
You have no email address associated with this account.  Email features are disabled.
{% endif %}</li>
<li>You are a member of these additional groups:<ul>
{% for s_key in session if s_key.startswith("is_") %}
<li><strong>{{s_key.replace("is_", "")}}</<strong></li>
{% endfor %}
</ul></li>

</ul>
{{raw_content}}
{% endblock %}
