{% extends "main.jinja2" %}
{% block content %}
<div id=mainpage>
<h1>Welcome to {{application_name}}</h1>
<h2>Select a {{datasets_label|lower}} from the menu:</h2>

<ul>
{% for ds, meta in datasets_metadata|dictsort %}
  <li><a href="{{url_for("dataset", dataset_name=ds)}}">{{meta.label}}</a></li>
{% endfor %}
</ul>
</div>
{% endblock %}
