{% extends 'base.jinja2' %}
{% block navigation %}
{% include 'navigation.jinja2' %}
{% endblock %}
{% block content %}

<h1>System Requirements</h1>
<h2>Web Browser Compatibility</h2>

<p>This website is compatible with the following web browsers and versions:</p>
<ul id='browser_list'>
<li><img src='{{url_for('static', filename='img/internet-explorer_64x64.png')}}' alt="" /><strong>Microsoft Internet Explorer: </strong>  Version 11 (not recommended).</li>
<li><img src='{{url_for('static', filename='img/firefox_64x64.png')}}' alt="" /><strong>Mozilla Firefox: </strong> Current or ESR release. <a href='http://www.mozilla.org/en-US/firefox/'>Download Firefox</a></li>
<li><img src='{{url_for('static', filename='img/chrome_64x64.png')}}' alt="" /><strong>Google Chrome: </strong> Recent release. <a href='https://www.google.com/intl/en/chrome/browser/'>Download Chrome</a></li>
<li><img src='{{url_for('static', filename='img/safari_64x64.png')}}' alt="" /><strong>Apple Safari: </strong> Version 12 or higher.<a href='http://support.apple.com/downloads/#safari'>Download Safari</a></li>
<li><img src='{{url_for('static', filename='img/opera_64x64.png')}}' alt="" /><strong>Opera: </strong>12.1 or higher.<a href='http://www.opera.com'>Download Opera</a></li>
</ul>

<br style='clear:both' />
 <span class='note'>Note: Windows XP and Vista cannot be upgraded to Internet Explorer 11.  If you are using Windows XP or Vista, please install one of the other browsers listed.</span>

<h2>Other Requirements</h2>

<p>To enjoy full functionality from this website:</p>

<ul>
<li><strong>Javascript</strong> must be enabled.</li>
<li><strong>&quot;Popup blocker&quot; software</strong> must be disabled for this site.</li>
<li>Set your screen resolution is <strong>1280x1024</strong> or better.</li>
</ul>
{% endblock %}
